* {
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.main-frame {
    width: 400px;
    height: 514px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    background-color: rgb(40, 40, 40);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    margin: -14px 0;
    padding: 5px;
    color: rgb(142, 140, 140);
    font-weight: bold;
    width: 100%; 
    text-align: left;
}
#display {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 360px;
    height: 100px;
    border-radius: 8px;
    background-color: rgb(49, 49, 49);
    color: rgb(142, 140, 140);
    font-size: 3rem;
    padding: 10px;
    box-sizing: border-box;
}
.buttons {
    width: 360px;
    height: auto;
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
button {            
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
    background-color: rgb(69, 0, 0);
    color: rgb(142, 140, 140);
    font-size: 20px;
    font-weight: bold;
    height: 67px;
    transition: transform 0.2s ease, background-color 0.3s ease;
}
button:hover {
    background-color: rgb(90, 30, 30);
}
button:active {
    transform: scale(0.95);
    background-color: rgb(116, 57, 57);
}
.operator-btn {
    background-color: rgba(0, 42, 69, 0.582);
}
.operator-btn:hover {
    background-color: rgba(19, 64, 93, 0.582);
}
.operator-btn:active {
    background-color: rgba(60, 99, 124, 0.582);
}

@media (orientation: landscape) and (max-width: 768px) { /* for tablets in landscape */
    .main-frame {
        width: 95vw;
        height: calc(50vw * (514 / 400)); 
    }
    #display {
        width: 93%;
        height: calc(90vw * (100 / 360)); 
        font-size: 2.5rem; 
    }
    .buttons {
        width: 60%; 
        height: auto;
        margin-top: 17px;
        margin-bottom: 15px;
    }
    button {
        font-size: 18px; 
        height: calc(50vw * (65 / 400)); 
        width: 22vw;
    }
}


@media (max-width: 521px) { /* For med & large mobiles */
    .main-frame {
        width: 95vw;
        height: calc(90vw * (514 / 400));
    }
    #display {
        width: 93%;
        height: calc(90vw * (100 / 360));
        font-size: 2.5rem;
    }
    .buttons {
        width: 95%; 
        height: auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    button {
        font-size: 18px; 
        height: calc(90vw * (65 / 400));
        width: 22vw;
    }
}
@media (max-width: 320px) { /* for small screens */
    .main-frame {
        width: 95vw; 
        height: calc(90vw * (514 / 400)); 
    }
    #display {
        width: 93%;
        height: calc(90vw * (100 / 360)); 
        font-size: 2.5rem;
    }
    .buttons {
        width: 95%;
        height: auto;
        margin-top: 9px;
    }
    button {
        font-size: 18px; 
        height: calc(90vw * (65 / 400)); 
        width: 22vw;
    }
}

